<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="home-quotes">
    <iron-localstorage
            name="user-storage"
            value="{{storedUser}}"
            on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <div class="circle">:)</div>

            <h1>Bienvenido!</h1>
            <p>
             <blockquote>El banco de wilson quiere darte la bienvenida</blockquote>
            </p>


            <h2>¿que encontraras en este portal?</h2>
            <blockquote><p>Podrás encontrar el detalle de tus cuentas y sus respectivos movimientos.</p>
            <p>para esto solo tienes que hacer log in y listo! tendras tu informaciòn al instante.</p></blockquote>

        </div>
    </template>

    <script>
        class HomeQuotes extends Polymer.Element {
            static get is() {
                return 'home-quotes';
            }

        }

        window.customElements.define(HomeQuotes.is, HomeQuotes);
    </script>
</dom-module>
