<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="log-out.html">

<dom-module id="register-login">
  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <iron-ajax
            id="registerLoginAjax"
            method="post"
            content-type="application/json"
            handle-as="json"
            on-response="handleUserResponse"
            on-error="handleUserError">
    </iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Ingresa</h1>

        <p><strong>Hola!</strong> ingresa tus datos </p>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input id="email" type="email" value="{{formData.email}}" placeholder="Email">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Ahora puedes accedera tus <a href="[[rootPath]]secret-quotes">Cuentas</a>!</p>
          <log-out stored-user="{{storedUser}}"></log-out>
      </div>

  </template>

  <script>


      class RegisterLogin extends Polymer.Element {
          static get is() { return 'register-login'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: {
                      type: Object,
                      value: {loggedin:false}
                  },
                  error: String
              }
          }
          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
          }

          postLogin() {
              this.$.registerLoginAjax.url = 'http://localhost:3000/colapi/v1/login';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }
          handleUserResponse(event) {
              var response = event.detail.response;
                  this.error = '';
                  this.storedUser = {
                      name: response.first_name,
                      last_name: response.last_name,
                      email: response.email,
                      id:response._id.$oid,
                      loggedin: true
,              };
              // reset form data
              this.formData = {};
              this.set('route.path', '/secret-quotes');

          }

          handleUserError(event) {
              var errorObject = event.detail.request.xhr.response;
              this.error = errorObject.error;
          }
      }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
