<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../neon-animation/web-animations.html">
<link rel="import" href="../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../neon-animation/animations/fade-out-animation.html">

<dom-module id="secret-quotes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-dialog.size-position {
        position: fixed;
        border: 2px solid;
        border-color: #4caf50;
        background-color: #f1f8e9;
        color: #4caf50;
        top: 20px;
        right: 16px;
        width: 60%;
        height: 70%;
        overflow: auto;

      }
      paper-dialog.colored {
        border: 2px solid;
        border-color: #4caf50;
        background-color: #f1f8e9;
        color: #4caf50;
      }
    </style>
    <iron-localstorage
            name="user-storage"
            value="{{storedUser}}"
            on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
            id="getMovements"
            method="get"
            url="http://localhost:3000/colapi/v1/users/[[storedUser.id]]/accounts/[[accountValue]]/movements"
            handle-as="json"
            on-response="manageAJAXResponse"
            on-error="showError"
            last-response="{{movements}}"></iron-ajax>
    <iron-ajax
            id="getSecretQuoteAjax"
            method="get"
            url="http://localhost:3000/colapi/v1/users/[[storedUser.id]]/accounts"
            handle-as="json"
            on-response="manageAJAXResponse2"
            on-error="showError"
            last-response="{{accounts}}"></iron-ajax>




    <paper-dialog id="position" class="size-position" entry-animation="scale-up-animation" exit-animation="fade-out-animation">

      <h2>Movimientos cuenta [[accountValue]]</h2>
      <div class="card" visible hidden$="[[accountEmpty]]">
        <h2>Esta cuenta no posee movimientos :)</h2>
      </div>
      <template is="dom-repeat" items="{{movements}}"  as="movement">
        <div class="card">

          <blockquote>
            <div>desc: <span>{{movement.descripcion}}</span></div>
            <div>fecha: <span>{{movement.fecha}}</span></div>
            <div>importe: <span>${{movement.importe}}</span></div>
          </blockquote>

        </div>

      </template>
    </paper-dialog>



    <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
      <div class="card" visible hidden$="[[noAccount]]">
        <h2>Aún no tienes una cuenta con nosotros, crea una y vuelve a usar nuestros servicios</h2>
      </div>
      <template is="dom-repeat" items="{{accounts}}">
        <div class="card">
          <h2>Cuenta</h2>
          <blockquote>
            <div>Iban: <span>{{item.IBAN}}</span></div>
            <div>Saldo disponible: <span>${{item.balance}}</span></div>
          </blockquote>
          <paper-button raised on-tap="getMovements" data-iban$="[[item.IBAN]]"  class="primary">Ver Movimientos de esta cuenta</paper-button>
        </div>
      </template>
    </div>
    <div class="card" hidden$="[[storedUser.loggedin]]">

      <p >Debes  <a href="[[rootPath]]register-login">ingresar</a> para acceder a tus cuentas!</p>
    </div>
  </template>

  <script>
      class SecretQuotes extends Polymer.Element {
          static get is() { return 'secret-quotes'; }

          static get properties() {
              return {
                  storedUser: {
                      type: Object,
                      value: {loggedin:false}
                  },
                  accountValue: String,
                  accountEmpty:{
                      type:Boolean,
                      value:false
                  },
                  noAccount:{
                      type:Boolean,
                      value:false
                  }
              }
          }

          initStoredUser() {
              // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
              if (this.storedUser.loggedin) {
                  this.getSecretQuote();
              }
          }
          getMovements(e){
              this.accountValue = e.target.dataset.iban;
              this.$.getMovements.generateRequest();
              this.$.position.open();
          }

          getSecretQuote() {
              // add token authorization and generate Ajax request
              this.$.getSecretQuoteAjax.generateRequest();
          }
          manageAJAXResponse(data) {
              if(Object.keys(data.detail.response).length == 0){
                  this.accountEmpty =false;
              }else{
                  this.accountEmpty =true;
              }

          }

          manageAJAXResponse2(data) {
              console.log(data.detail.response);
              console.log(Object.keys(data.detail.response).length == 0);
              if(Object.keys(data.detail.response).length == 0){
                  this.noAccount =false;
              }else{
                  this.noAccount =true;
              }

          }

          showError(error) {
              console.log("Hubo un error");
              console.log(error);
          }
      }

      window.customElements.define(SecretQuotes.is, SecretQuotes);
  </script>
</dom-module>
